### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [169]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete= pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

#Create new column to state if a student passed math (1 = passed)
Conditions=[
		(school_data_complete['math_score']>= 70),
		(school_data_complete['math_score'] <= 70)
	]

Values=[1,0]


school_data_complete["Passing Math"]=np.select(Conditions,Values)

#Create new column to state if a student passed reading (1 = passed)
Conditions=[
		(school_data_complete['reading_score']>= 70),
		(school_data_complete['reading_score'] <= 70)
	]

Values=[1,0]


school_data_complete["Passing Reading"]=np.select(Conditions,Values)

#Create new column to state if a student passed both math and reading (1 = passed) 

Conditions=[
		(school_data_complete['Passing Math'] == 1) & 
		(school_data_complete['Passing Reading'] == 1)
	]

Values=[1]


school_data_complete["Passing Overall"]=np.select(Conditions,Values)



school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Passing Math,Passing Reading,Passing Overall
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,1,0,0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,0,1,0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,0,1,0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,0,0,0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,1,1,1
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,1,1,1
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,1,1,1
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,1,1,1
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,1,1,1

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [170]:
#Find total schools by getting the unique value count 
Total_Schools = len(school_data_complete["school_name"].unique())

#Find total students by getting the count from student ID 
Total_Students= len(school_data_complete["Student ID"].unique())

#Find unique budgets per school 
unique_budget = school_data_complete["budget"].unique()

#Sum Total budget from unique budgets 
Total_Budget = unique_budget.sum()

#Find Average Math Score 
Average_Math = school_data_complete["math_score"].mean()

# #Find Average Reading Score
Average_Reading = school_data_complete["reading_score"].mean()

#Find % Passing Math by using a boolean mask and dividing by length of column
percent_math = sum(((school_data_complete["math_score"] >= 70) / len(school_data_complete["math_score"])) * 100)

#Find % Passing  by Reading using a boolean mask and dividing by length of column
percent_reading = sum(((school_data_complete["reading_score"] >= 70) / len(school_data_complete["reading_score"])) * 100)

# Find Overall passing % by adding reading and math and dividing by length
overall_passing = sum((((school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)) / len(school_data_complete["reading_score"])) * 100)

# Format new df
District_summary_df = pd.DataFrame({"Total Schools": [Total_Schools], "Total Students": [Total_Students], "Total Budget": [Total_Budget],"Average Math Score": [Average_Math], "Average Reading Score": [Average_Reading], "% Passing Math": [percent_math], "% Passing Reading": [percent_reading], "% Overall Passing": [overall_passing]})


District_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [171]:
# Group by school name 
grouped_school_summary_df = school_data_complete.groupby(["school_name"]).first()


# Calculate total students by school using count on Student ID's
grouped_school_summary_df ["Total Students"] = school_data_complete.groupby("school_name")["Student ID"].count()


#Divide total school budget by total students to get Per student budget 
grouped_school_summary_df ["Per Student Budget"] = (grouped_school_summary_df ["budget"] / grouped_school_summary_df ["Total Students"])

# Calculate average math score by group 
grouped_school_summary_df ["Average Math Score"] = school_data_complete.groupby("school_name")["math_score"].mean()

# Calculate average reading score by group 
grouped_school_summary_df ["Average Reading Score"] = school_data_complete.groupby("school_name")["reading_score"].mean()


#Find % Passing Math by finding the mean in the original dataframe (0 and 1 values)
grouped_school_summary_df ["% Passing Math"] = (school_data_complete.groupby("school_name")["Passing Math"].mean() * 100)


#Find % Passing Reading by finding the mean in the original dataframe (0 and 1 values)
grouped_school_summary_df ["% Passing Reading"] = (school_data_complete.groupby("school_name")["Passing Reading"].mean() * 100)

# Find Overall passing % by finding the mean in the original dataframe (0 and 1 values)
grouped_school_summary_df ["% Passing Overall"] = (school_data_complete.groupby("school_name")["Passing Overall"].mean() * 100)

#Setting relevant columns and setting it to a new and organized df 
columns_to_keep = ["type", "Total Students", "budget", "Per Student Budget", "Average Math Score", "Average Reading Score","% Passing Math", "% Passing Reading", "% Passing Overall" ]

Organized_school_summary_df = grouped_school_summary_df[columns_to_keep]

#Renaming original column headers to meet output
Renamed_School_Summary_df = Organized_school_summary_df.rename(columns={"type": "School Type", "budget": "Total School Budget", })


#Setting the index as the grouped
Final_school_summary_df = Renamed_School_Summary_df.reset_index()

Final_school_summary_df.head()

,school_name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
1,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
3,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [172]:
#Find Top five schools according to overall passing %

Ascending_schools = Final_school_summary_df.sort_values("% Passing Overall", ascending=False)

Top_five_schools = Ascending_schools.reset_index(drop=True)
Top_five_schools.head(5)

,school_name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
1,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
2,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
3,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
4,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [173]:
#Find Bottom five schools according to overall passing %
Descending_schools = Final_school_summary_df.sort_values("% Passing Overall", ascending=True)

Bottom_five_schools = Descending_schools.reset_index(drop=True)
Bottom_five_schools.head(5)

,school_name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
2,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
4,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [174]:
#Create new df with only relevant columns 
columns_to_keep2 = ["school_name","grade", "student_name", "size", "math_score"]

grade_math_df = school_data_complete[columns_to_keep2]


################ 9th grade###################
#Use conditional mask to find 9th graders
ninth_grade_mask = grade_math_df.loc[grade_math_df["grade"] == "9th"]

#Group the 9th graders by school 
grouped_ninth_summary_df = ninth_grade_mask.groupby(["school_name"]).first()

#Average the math score and set as new column in the grouped df
grouped_school_summary_df ["9th"] = ninth_grade_mask.groupby("school_name")["math_score"].mean()

################# 10th grade####################
#Use conditional mask to find 10th graders
tenth_grade_mask = grade_math_df.loc[grade_math_df["grade"] == "10th"]

#Group the 10th graders by school 
grouped_tenth_summary_df = tenth_grade_mask.groupby(["school_name"]).first()

#Average the math score and set as new column in the grouped df
grouped_school_summary_df ["10th"] = tenth_grade_mask.groupby("school_name")["math_score"].mean()

################# 11th grade####################
#Use conditional mask to find 11th graders
eleventh_grade_mask = grade_math_df.loc[grade_math_df["grade"] == "11th"]

#Group the 11th graders by school 
grouped_eleventh_summary_df = eleventh_grade_mask.groupby(["school_name"]).first()

#Average the math score and set as new column in the grouped df
grouped_school_summary_df ["11th"] = eleventh_grade_mask.groupby("school_name")["math_score"].mean()

################# 12th grade####################
#Use conditional mask to find 12th graders
twelth_grade_mask = grade_math_df.loc[grade_math_df["grade"] == "12th"]

#Group the 12th graders by school  
grouped_twelth_summary_df = twelth_grade_mask.groupby(["school_name"]).first()

#Average the math score and set as new column in the grouped df
grouped_school_summary_df ["12th"] = twelth_grade_mask.groupby("school_name")["math_score"].mean()


# Setting relevant columns and setting it to a new and organized df 
columns_to_keep3 = ["9th", "10th", "11th", "12th"]

Final_MathbyGrade_df = grouped_school_summary_df[columns_to_keep3]

#print
Final_MathbyGrade_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [175]:
#Create new df with only relevant columns 
columns_to_keep4 = ["school_name","grade", "student_name", "size", "reading_score"]

grade_reading_df = school_data_complete[columns_to_keep4]


################ 9th grade###################
#Use conditional mask to find 9th graders
ninth_grade_mask = grade_reading_df.loc[grade_math_df["grade"] == "9th"]

#Group the 9th graders by school 
grouped_ninth_summary_df = ninth_grade_mask.groupby(["school_name"]).first()

#Average the reading score and set as new column in the grouped df
grouped_school_summary_df ["9th"] = ninth_grade_mask.groupby("school_name")["reading_score"].mean()

################# 10th grade####################
#Use conditional mask to find 10th graders
tenth_grade_mask = grade_reading_df.loc[grade_math_df["grade"] == "10th"]

#Group the 10th graders by school 
grouped_tenth_summary_df = tenth_grade_mask.groupby(["school_name"]).first()

#Average the reading score and set as new column in the grouped df
grouped_school_summary_df ["10th"] = tenth_grade_mask.groupby("school_name")["reading_score"].mean()

################# 11th grade####################
#Use conditional mask to find 11th graders
eleventh_grade_mask = grade_reading_df.loc[grade_math_df["grade"] == "11th"]

#Group the 11th graders by school 
grouped_eleventh_summary_df = eleventh_grade_mask.groupby(["school_name"]).first()

#Average the reading score and set as new column in the grouped df
grouped_school_summary_df ["11th"] = eleventh_grade_mask.groupby("school_name")["reading_score"].mean()

################# 12th grade####################
#Use conditional mask to find 12th graders
twelth_grade_mask = grade_reading_df.loc[grade_math_df["grade"] == "12th"]

#Group the 12th graders by school  
grouped_twelth_summary_df = twelth_grade_mask.groupby(["school_name"]).first()

#Average the math score and set as new column in the grouped df
grouped_school_summary_df ["12th"] = twelth_grade_mask.groupby("school_name")["reading_score"].mean()


#Setting relevant columns and setting it to a new and organized df 
columns_to_keep3 = ["9th", "10th", "11th", "12th"]

Final_ReadingbyGrade_df = grouped_school_summary_df[columns_to_keep3]

#print
Final_ReadingbyGrade_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [176]:
# Create bins for School Spending 
bin_cutoffs = [0, 584.9, 629.9, 644.9, 680]

#Create labels for bins
Perstudent_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

#Assign bins and labels to Per Student Budget column
bins = pd.cut(Renamed_School_Summary_df["Per Student Budget"], bins=bin_cutoffs, labels=Perstudent_labels)

#Print label names for bins
Renamed_School_Summary_df["Spending Ranges (Per Student)"] = bins


#Setting relevant columns and setting it to a new and organized df 
columns_to_keep5 = ["Spending Ranges (Per Student)","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Passing Overall"]

Organized_PerStudent_df = Renamed_School_Summary_df[columns_to_keep5]

#Set new groupby index to Spending Ranges per student
Final_scores_by_spending_df = Organized_PerStudent_df.groupby("Spending Ranges (Per Student)")

Final_scores_by_spending_df= Final_scores_by_spending_df.mean()

Final_scores_by_spending_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
#Create bins for school size 

#Group by bins

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
# Group by school name 
grouped_school_type_df = school_data_complete.groupby(["type"]).first()